
.col-12 {
    border: none;
}
.card {
      .btn {
        img {
          width: 25px;
          height: 25px; 
        }
      }
    }

.card {
    .btn {
        border: gray;
      
    }
    
}

.small-centered-img {
    max-width: 70px; 
    max-height: 70px; 
    margin: auto; 
    display: block; 
    padding-top: 15px;
    padding-bottom: 15px;
    }

.card {
    padding: 1%;
    border: 50px solid gray;
}


div a {
    color: blue; 
    text-decoration: underline; 
  }
  
  div a:hover {
    color: darkblue;
  }

  .checkbox-container span {
    float: right;
  }
  
  .checkbox-container input[type="checkbox"] {
    float: left;
    
  }
  .checkbox-container {
    span {
      color: blue;
    }
  }

  .d-flex {
    justify-content: center;
    align-items: center;
    h6 i span {
      color: blue;
    }
  }

  .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
      width: 30px;
      height: 30px;
    }
  }
  .nav-items.hide-non-hidden.login-links {
    display: none;
  }
  
  .nav-items.show-hidden.hidden-links {
    display: block;
  } 