<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>reto js33 </title>
        <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/main.css"/>
    </head>
<body>
    <div id="mainContainer">
        <div class="containerNav">
          <nav class="container-flex-row navbar">
            <div class="container-flex-row">
              <img
                class="imagen"
                src="../img/resized_logo_UQww2soKuUsjaOGNB38o.png"
              />
              <div>
                <input class="input-text" type="text" placeholder="Search..." />
              </div>
            </div>
            <div class="container-flex-row">
              <div class="login">
                <a href="">log in</a>
              </div>
              <div class="botton-link">
                <a href="./form.html">New post</a>
              </div>
            </div>
          </nav>
        </div>
                
        <div idclass="container">
          <div class="row">
            <div class="col-1">
              <div class="d-flex flex-column justify-content-center">
                <div class="p-2">
                  <img  src="https://dev.to/assets/heart-plus-active-9ea3b22f2bc311281db911d416166c5f430636e76b15cd5df6b3b841d830eefa.svg">
                  <p>200</p>
                </div>
                <div class="p-2">Flex item 2</div>
                <div class="p-2">Flex item 3</div>
              </div>
            </div>
            <div class="col-8">
              <section class="main">
                <div class="main-flex-container">
                    <div id="post-cards-wrapper">
                        <div class="card-post">
                          <div class="head">
                            <img id="post-picture"
                              class="imagen-post"
                              src="https://picsum.photos/700/400?random=1"
                            />
                          </div>
                          <div class="content-card">
                            <div id="logo-name" class="logo-image">
                              <div class="taipy-logo">
                                <img
                                  src="https://res.cloudinary.com/practicaldev/image/fetch/s--q8gYXd8Q--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/organization/profile_image/7841/eb7a94b7-7bd9-4097-b7e9-132785adc6db.png"
                                />
                              </div>
                              <div class="foto-profile">
                                <img
                                  src="https://res.cloudinary.com/practicaldev/image/fetch/s--ZMDQfkJE--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/1177677/4947a9f8-ba30-4008-9f77-4b08c5b1c901.jpg"
                                />
                              </div>
                            </div>
                            <div id="autor-Post" class="name-date">
                              <h4 class="autor">Pablo Cruz</h4>
                              <p id="post-fecha" class="fecha">2024-03-25</p>
                            </div>
                          </div>
                          <div class="content-card2">
                            <h3 id="titulo-post"class="titulo-post">reto JS</h3>
                            <p id="post-contenido"class="contenido-post">
                              Lorem ipsum dolor sit amet. Qui tempora omnis et temporibus
                              placeat est voluptas odio qui suscipit facere ea rerum
                              explicabo aut numquam quia sed voluptas sequi. Et
                              exercitationem eaque non dolor nemo qui sequi tempore et
                              dignissimos Quis. Ut dignissimos sunt et similique deleniti
                              eos esse placeat qui accusamus minus rem quam officiis qui
                              mollitia aperiam hic neque iste. Ut officia suscipit ad
                              obcaecati Quis in quod veritatis et incidunt animi et
                              officiis debitis rem autem omnis et consequatur aliquid.
                              &lt;/p&gt;&lt;p&gt;Vel repudiandae consequatur vel laborum
                              adipisci sit quae tenetur et autem magnam ad excepturi quam
                              qui odio facilis? Et repellat iure non rerum cumque 33 modi
                              modi et cumque iure. &lt;/p&gt;&lt;p&gt;33 eius accusamus
                              sed Quis quibusdam vel assumenda quas! Et officia dolores et
                              perferendis illum qui quidem similique eos nobis accusantium
                              aut quia tempore et minima vitae? Ab iure beatae quo vitae
                              recusandae ut accusantium expedita et quidem eius aut maxime
                              laboriosam. Est repellendus perferendis et cupiditate
                              suscipit est officia natus ea itaque quaerat est eius
                              ratione.
                            </p>
                            <div id="post-hashtags"class="hashtags">
                              <span>html</span><span>js</span><span>css</span>
                            </div>
                          </div>
                          <div id="reacciones"class="reactions">
                            <div class="emojis-reaction">
                              <img
                                src="https://dev.to/assets/fire-f60e7a582391810302117f987b22a8ef04a2fe0df7e3258a5f49332df1cec71e.svg"
                              /><img
                                src="https://dev.to/assets/raised-hands-74b2099fd66a39f2d7eed9305ee0f4553df0eb7b4f11b01b6b1b499973048fe5.svg"
                              /><img
                                src="https://dev.to/assets/exploding-head-daceb38d627e6ae9b730f36a1e390fca556a4289d5a41abb2c35068ad3e2c4b5.svg"
                              /><img
                                src="https://dev.to/assets/multi-unicorn-b44d6f8c23cdd00964192bedc38af3e82463978aa611b4365bd33a0f1f4f3e97.svg"
                              /><img
                                src="https://dev.to/assets/sparkle-heart-5f9bee3767e18deb1bb725290cb151c25234768a0e9a2bd39370c382d02920cf.svg"
                              /><span class="reaction-post">23 reacciones</span
                              ><span class="comments-post">23 comentarios</span>
                            </div>
                            <div class="delete-update">
                              <button class="button-delete">Delete</button
                              ><button class="button-update">Update</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </section>
            </div>
            <div class="col">
              <div class="container">
                <ul><div class="card mb-3">
                <div >
                 <button class="btn btn-light"> <img src="../assets/favicon-32x32.png" atl="logo dev"></button>
                  <a href="#">The DEV Team</a>
                </div>
                <button class="btn btn-primary">Follow</button>
               <p> Lorem ipsum dolor sit amet. Qui tempora omnis et temporibus
                placeat est voluptas odio qui suscipit facere ea rerum
                explicabo aut numquam quia sed voluptas sequi. Et
                exercitationem eaque non dolor nemo qui sequi tempore et
                dignissimos Quis. Ut dignissimos sunt et similique deleniti
                eos esse placeat qui accusamus minus rem quam officiis qui
                mollitia aperiam hic neque iste.</p>
               <button class="btn btn-outline-dark">Contribute to Forem</button></div>
              </div>
            </ul>
            </div>
          </div>
       
   
  </div>
</div>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
crossorigin="anonymous"
></script>
<script src="../js/main.js" type="module"></script>
</body>
</html>
